@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: turquoise;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: darkturquoise;
  padding: 20px;
  width: 350px;
  max-width: 1005;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.result-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  height: 20px;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  color: #fff;
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn {
  border: none;
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
